.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    /* Tetap terlihat saat di-scroll */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* Lebar responsif */
    max-width: 800px;
    /* Batas maksimum lebar */
    padding: 20px;
    background-color: #001f3f;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contact-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-container p {
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.form-section,
.info-section {
    background-color: #002b63;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.form-section h3,
.info-section h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    background-color: #003c83;
    color: #fff;
}

.btn {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff392b;
}

.info-section {
    color: #ffffff;
}

.info-section p {
    margin-bottom: 10px;
}

.lokasi,
.kontak_admin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.lokasi p,
.kontak_admin p {
    display: flex;
    align-items: center;
    margin: 0;
}

.lokasi img,
.kontak_admin img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.lokasi img:hover,
.kontak_admin img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-sosial-media {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.social-media a img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-media a img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}